body {
    margin: 0;
    overflow: hidden;
    padding: 12px;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

#player {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: width 0.2s, height 0.2s;
    z-index: 2;
}

.subplayer {
    border: 2px solid #2980b9;
    transition: width 0.2s, height 0.2s;
}

#player,
.subplayer {
    transition: width 0.2s, height 0.2s;
}

/* Enhance styling for the player element */
#player,
.subplayer {
    border-radius: 50%;
    border: 2px solid #2980b9;
}

/* Add styles for the food elements */
.food {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #e74c3c;
    border-radius: 50%;
}


/* Style the score element */
#score {
    position: absolute;
    z-index: 100;
    top: 4px;
    left: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    background-color: rgba(100, 100, 100, 0.3);
    color: #222;
    padding: 4px;
}

#overlap-timer {
    position: absolute;
    z-index: 100;
    top: 4px;
    right: 50%;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    background-color: rgba(100, 100, 100, 0.3);
    color: #222;
    padding: 2px 6px;
}

#ranking-table {
    position: absolute;
    z-index: 100;
    top: 4px;
    right: 0;
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    background-color: rgba(200, 200, 200, 0.5);
    color: #111;
    padding: 2px 6px;
}

/* Enhance styling for the player element */
#player,
div[id^='subplayer'] {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #2980b9;
    display: flex;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    align-items: center;
}


@media screen and (max-width: 678px) {
    #score {
        top: 8px;
        left: 8px;
        font-size: 16px;
    }
}